<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

 <!-- Main content -->
 <section class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Aquí puedes ver las ventas hasta ahora</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable  class="row-border border table-responsive hover" style="display: block;" >
                <thead class="">
                  <tr>
                    <th class="text-center" style="width: 10%;">#</th>
                    <th class="text-center" style="width: 55%;">Nombre</th>
                    <th class="text-center" style="width: 15%;">Productos Vendidos</th>
                    <th class="text-center" style="width: 20%;">Total</th>
                    <th class="text-center" style="width: 20%;">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td style="width: 10%;"></td>
                    <td  style="width: 35%;"></td>
                    <td class="text-center"  style="width: 15%;"></td>
                    <td class="text-right"  style="width: 20%;"></td>
                    <td class="text-center"  style="width: 20%;">
                    </td>
                </tr>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->