 <app-navbar></app-navbar>
 <app-sidebar></app-sidebar>
 <!-- left column -->

 <div class="content-wrapper">
     <section class="content">
         <div class="container-fluid">
             <div class="row">
                <div class="col-12 py-5">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Agrega un Producto</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form" [formGroup]="frame" (ngSubmit)="saveProduct(frame)">
                        <div class="card-body d-flex flex-wrap">
                          <div class="form-group col-md-6">
                            <label for="name">Nombre del Producto</label>
                            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Escribe aquí">
                            <div class="error mt-1 text-danger"  *ngIf="frame.get('name').hasError('pattern')">
                              Nombre no válido, Evita espacios al final o números al inicio.
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="price">Precio <span style="font-weight:400; color: red;">*Usa (. o ,) para los decimales</span></label>
                            <input type="number" value="0" step="any" min="0" class="form-control" formControlName="price" id="price" placeholder="Precio aquí">
                            <div class="error mt-1 text-danger"  *ngIf="frame.get('price').hasError('pattern') ">
                              Mínimo: 8, Max:15
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="stock">Stock</label>
                            <input type="number" class="form-control" formControlName="stock" id="stock" placeholder="Stock Aquí">
                            <div class="error mt-1 text-danger"  *ngIf="frame.get('stock').hasError('pattern')">
                              No se aceptan números decimales
                            </div>
                          </div>

                          <div class="form-group col-md-6">
                            <label for="image">Subir Imagen</label>
                            <div class="input-group border">
                              <div class="custom-file">
                                <input type="file" formControlName="image" (change)="fileChangeEvent($event)" value=filesToUpload id="image">
                              </div>
                            </div>
                            <div class="error mt-1 text-danger"  *ngIf="frame.get('image').hasError('required')">
                              Debes ingresar una imagen en formatos jpg,png,jpeg
                            </div>
                          </div>
                        </div>
                        <!-- /.card-body -->
                
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary"  [disabled]="!frame.valid" >Crear Producto</button>
                        </div>

                        <div class="alert alert-success w-50 text-center mx-auto" *ngIf="message" >
                            {{message}}
                        </div>
                        <div class="alert alert-danger w-50 text-center mx-auto" *ngIf="error" >
                          {{error}}
                      </div>
                      </form>
                    </div>
                    <!-- /.card -->
                </div>
             </div>
         </div>
     </section>
    
 </div>
