<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

 <!-- Main content -->
 <section class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                  <th class="text-center" style="width: 10%;">#</th>
                  <th class="text-center"  style="width: 20%;">Descripción</th>
                  <th class="text-center"  style="width: 10%;">Stock</th>
                  <th class="text-center"  style="width: 10%;">Precio</th>
                  <th class="text-center"  style="width: 20%;">Imagen</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.stock}}</td>
                        <td class="text-right">{{product.price |currency}}</td>
                        <td>{{product.image}}</td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->