<link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css"/>
<link href="https://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
<div class="login d-flex flex-column">
  <div class="avatar"></div>
  <form class="frm">
    <div class="field">
      <input type="text" id="name" placeholder="Username"/>
      <label class="ion-person" for="name"></label>
    </div>
    <div class="field">
      <input type="password" id="pass" placeholder="Password"/>
      <label class="ion-locked" for="pass"></label>
    </div>
    <div class="field">
      <input type="submit" value="Login"/>
    </div>
   
  </form>
</div>